.title {
    font-weight: bold;
    text-align: left;
    font-size: 1rem;
    margin-top: 1rem;
    text-transform: capitalize;

}

.main_container {
    max-width: 280px;
    width: 100%;
}

.description {
    display: none;
}

@media screen and (max-width: 1290px) {
    .description {
        display: inline;
        margin-left: 20px;
        text-align: left;
        font-size: 1rem;
    }

    .main_container {
        display: flex;
        flex-direction: row;
        /* margin: 20px; */
        max-width: 100%;
    }
    .main_container img{
        max-width: 300px;
        width:100%;
    }
    .title{
        font-weight: bold;
        text-align: left;
        font-size: 1.2rem;
        margin-left: 20px;
        margin-top: 0;
        /* margin-top: 1rem; */
        text-transform: capitalize;
    
    }
    .main_container img{
        width: 30%;
        height:min-content;
    }
    .title{
        font-size: .9rem;
    }
    .description{
        font-size: .8rem;
    }
    
}